body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .navbar {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 0 5px;
  }
  
  .navbar a:hover {
    background-color: #d4d4d4;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  form {
    border:2px solid green;
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],input[type="password"],input[type="number"],input[type="email"],select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  .button-container {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
  }
  
  input[type="submit"], input[type="reset"] {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 0 10px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
  }
  
  input[type="reset"] {
    background-color: #f44336;
  }
  
  input[type="submit"]:hover, input[type="reset"]:hover {
    opacity: 0.8;
  }
  